
<h1>Main page</h1>

<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <button 
                mat-icon-button
                (click)="sidenav.toggle()"
            >
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a 
                routerLink="/display-hide"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>cached</mat-icon>
                <span>Display/Hide</span>
            </a>

            <a 
                routerLink="/component-communication"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>import_export</mat-icon>
                <span>Component Communication</span>
            </a>

            <a 
                routerLink="/crud"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>app_registration</mat-icon>
                <span>CRUD</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button 
            mat-icon-button
            (click)="sidenav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <h1>Angular Exercises</h1>

        <span class="spacer"></span>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

