<div id="parent">
    <h2>PARENT</h2>
    <p fxLayoutAlign="center">message: {{parentMessage}}</p>
    <div
        fxLayoutAlign="center"
        fxLayoutGap="10px"
    >
        <button mat-flat-button color="primary" (click)="useService()">Use Service</button>
        <button mat-flat-button color="primary" (click)="useInput()">Use Input Property</button>
        <button mat-flat-button color="primary" (click)="useObservable()">Use Observable</button>
    </div>
    <app-child 
        [childMessage]="childMessage"
        (onNewMessage)="newMessage()"    
    >
    </app-child>
</div>